<!DOCTYPE html>
{% extends base_template %}
{% load static %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StockSmart-Damage</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'assets/style.css' %}" rel="stylesheet">
</head>

<body>
<div class="navheight"></div>
<br>
<br>

<!-- list -->
<div class="container d-flex flex-wrap justify-content-center">

    <div class="col-6">
    <h3>Report Damage</h3>
        <form id="itemForm" method="post" action="{% url 'damage' %}">
                    {% csrf_token %}
                    <div>
                        <input placeholder="Product Name" class="form-control" name="itemname" type="text" id="itemName" required>
                        <input name="item_id" type="hidden" id="item_id" value="{{item_data.id}}" readonly>
                    </div><br>
                    <div>
                        <input placeholder="Kg/Pcs" class="form-control" name="damageqty" type="number" id="damageQty" required>
                    </div><br>

                    <button class="btn btn-success mr-2 px-5" type="submit" >Submit</button>
                </form><br>
        <div class=" d-flex flex-wrap mb-2">


        </div>
    </div>

    <div class="container ">
         <h3>Damage Reported</h3>
    <div class="">
            <table class="table" >
            <tr>
            <th class="headerx col-6" scope="col">Item</th>
            <th class="headerx col-4" scope="col">Quantity</th>
            <th class="headerx col-2" scope="col">Date</th>
            </tr></table>
                <div class="" style="height: 300px; overflow: auto;">
            <table class="table table-hover" >
                 {% for i in damage_data %}
                <tr>
                    <td  class="col-6"> {{i.dpt_item.item_name}}</td>
                    <td  class="col-4" style="padding-left: 25px;"> {{ i.dpt_damage_qty }}</td>
                    <td  class="col-2" style="padding-left: 25px;"> {{ i.dpt_timestamp }} </td>
                </tr>
                {% endfor %}
            </table>
    <!-- Input fields for selected items will be dynamically added here -->
    </div>
    </div>
</div>
<div class="bottom-space"></div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 <script>
        $(document).ready(function(){
            var itemdata = [
            {% for i in item_data %}
                { "id": "{{ i.id }}", "name": "{{ i.item_name }}"}{% if not forloop.last %},{% endif %}
            {% endfor %}
            ];

            $("#itemName").autocomplete({
                source: itemdata.map(item => item.name),
                select: function(event, ui) {
                    var selectedItem = itemdata.find(item => item.name === ui.item.value);
                    if (selectedItem) {
                        addItem(selectedItem.name);
                        $('#item_id').val(selectedItem.id);
                    }
                }
            });
        });

        function addItem(id, name) {
            // Function to handle adding item, for example:
            console.log("Item added: ", id, name);
        }
    </script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
{% for i in messages %}
{% if i.tags == 'warning' %}
            <script>
              swal('{{i}}', '', 'warning');
            </script>
        {% elif i.tags == 'error' %}
            <script>
              swal('{{i}}', '', 'error');
            </script>
        {% elif i.tags == 'info' %}
            <script>
              swal('{{i}}', '', 'info');
            </script>
        {% else %}
            <script>
              swal('{{i}}', '', 'success');
            </script>
        {% endif %}
    {% endfor %}
{% endif %}
</body>
</html>
{% endblock %}
