<!DOCTYPE html>
{% extends base_template %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StockSmart - Add Company</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'assets/style.css' %}" rel="stylesheet">
    <style>

    </style>
</head>

<body>
    <div class="navheight"></div>
<br><br>






<div class="container">

    <div col="x">
    <h4 class="mb-5" style="text-align: center;">Company Details</h4>


    <div class="justify-content-center d-flex flex-wrap ">


  <div class="col-3">
    <!-- Vendor ID hidden -->
    <p style="font-weight:bold; color:#999999;">Company :</p>
    <p style="font-weight:bold; color:#999999;">Contact Person:</p>
    <p style="font-weight:bold; color:#999999;">Email</p>
    <p style="font-weight:bold; color:#999999;">Phone:</p>
    <p style="font-weight:bold; color:#999999;">Address:</p>
    <p style="font-weight:bold; color:#999999;">GST:</p>
    <p style="font-weight:bold; color:#999999;">Low Stock Threshold:</p>

  </div>
{% for i in company_datas %}
  <div class="col-3">

    <p><span  style="color:#000000; font-weight:normal;">{{ i.company_name }}</span></p>
    <p><span  style="color:#000000; font-weight:normal;">{{ i.company_person }}</span></p>
   <p><span  style="color:#000000; font-weight:normal;">{{ i.company_email }}</span></p>
    <p><span style="color:#000000; font-weight:normal;">{{ i.company_mobile }}</span></p>
    <p><span style="color:#000000; font-weight:normal;">{{ i.company_address }}</span></p>
    <p><span style="color:#000000; font-weight:normal;">{{ i.company_gst }}</span></p>
      <p><span style="color:#000000; font-weight:normal;">{{ i.company_threshold_Stock }}</span></p>

  </div>
    </div>
    <div class="col-12 justify-content-center d-flex">
    <button type="submit" class="btn btn-success px-5 mt-4" data-toggle="modal" data-target="#myModal2" onclick="editCompany('{{ i.id }}', '{{ i.company_name }}', '{{ i.company_person }}', '{{ i.company_email }}', '{{ i.company_mobile }}', '{{ i.company_address }}', '{{ i.company_gst }}', '{{ i.company_threshold_Stock }}')">
    Update
    </button>
    </div>

        </div>
{% endfor %}


<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
        <div class="modal-header bg-success">
        <h5 class="modal-title" id="exampleModalLabel">Update Company Details</h5>
        </div>
        <div class="modal-body d-flex flex-wrap">
        <div class="col">
        <!-- Form to edit/add company details -->
        <div class="form-container_cmyPft d-flex flex-wrap">
            <div class="col-6 ">
                <form id="itemForm" method="post" action="{% url 'company_pg' %}" onsubmit="return validation()" class="footer-bottom">

                    {% csrf_token %}

                    <input name="company_id" type="hidden" id="company_id">

                    <div class="form-group">
                    <label>Company Name</label>
                    <input name="company_name" id="company_name" type="text" class="form-control" required>
                    </div>

                    <div class="form-group">
                    <label>Contact Name</label>
                    <input name="company_person" id="company_person" type="text" class="form-control" required>
                    </div>

                    <div class="form-group">
                    <label>Email</label>
                    <input name="company_email" id="company_email" type="email" class="form-control" required>
                    </div>

                    <div class="form-group">
                    <label>Contact Number</label>
                    <input name="company_mobile" id="company_mobile" type="tel" class="form-control" required>
                    </div>
                    </div>

                        <div class="col-6 ">
                        <div class="form-group">
                        <label>Address</label>
                        <input name="company_address" id="company_address" type="text" class="form-control" required>
                        </div>
                        <div class="form-group">
                        <label>GST</label>
                        <input name="company_gst" id="company_gst" type="tel" class="form-control" required>
                        </div>
                        <div class="form-group">
                        <label>Threshold of stock</label>
                        <input name="company_threshold_Stock" id="company_threshold_Stock" type="text" class="form-control" required>
                        </div>
                    </div>
        </div>
                    <div class="modal-footer">
                        <div class="col-12" style="text-align:right;">
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal" >Close</button>
                        <button type="submit" class="btn btn-success px-5" >Submit</button>
                            </div>
                    </div>
                    </div>
            </form>
                    </div>
                    </div>
    </div>
    </div>
    </div>
    </div>
</div>
</div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->

    <script>
        function editCompany(id, company_name, company_person, company_email, company_mobile, company_address, company_gst, company_threshold_Stock) {
            document.getElementById('company_id').value = id;
            document.getElementById('company_name').value = company_name;
            document.getElementById('company_person').value = company_person;
            document.getElementById('company_email').value = company_email;
            document.getElementById('company_mobile').value = company_mobile;
            document.getElementById('company_address').value = company_address;
            document.getElementById('company_gst').value = company_gst;
            document.getElementById('company_threshold_Stock').value = company_threshold_Stock;
            document.getElementById('formTitle').innerText = 'Update Company';

            // Show the form
            document.querySelector('.form-container_cmyPft').classList.add('active');
             document.getElementById('itemForm').style.display = 'block';

             console.log('Editing company with ID:', id);  // Debugging line
            document.getElementById('company_id').value = id;
        }
    </script>

    <script>
        function validation() {
            var company_gst = document.getElementById("company_gst").value;
            var company_mobile = document.getElementById("company_mobile").value;

            if (company_mobile.length < 10) {
                alert("Mobile number must be 10 characters");
                return false;
            } else if (company_gst.length < 15) {
                alert("GST must be at least 15 characters");
                return false;
            } else {
                return true;
            }
        }
    </script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    {% if messages %}
    {% for i in messages %}
    {% if i.tags == 'warning' %}
                <script>
                  swal('{{ i }}', '', 'warning');
                </script>
            {% elif i.tags == 'error' %}
                <script>
                  swal('{{ i }}', '', 'error');
                </script>
            {% elif i.tags == 'info' %}
                <script>
                  swal('{{ i }}', '', 'info');
                </script>
            {% else %}
                <script>
                  swal('{{ i }}', '', 'success');
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}

</body>
</html>
{% endblock %}
