<!DOCTYPE html>
{% extends base_template %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StockSmart-Item</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'assets/style.css' %}" rel="stylesheet">
</head>
<body>
<div class="navheight"></div>
<br><br>

<!-- Modal to add a new item -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h5 class="modal-title" id="exampleModalLabel">Add Item</h5>
            </div>
            <div class="modal-body d-flex flex-wrap">
                <div class="col">
                    <form id="itemForm" method="post" action="{% url 'item_pg' %}" class="footer-bottom">
                        {% csrf_token %}
                        <input type="hidden" name="itemid" id="itemId">
                        <div class="form-group">
                            <label for="itemName">Item Name</label>
                            <input name="itemname" type="text" class="form-control" id="itemName" required>
                        </div>
                        <div class="form-group">
                            <label for="itemCategory">Item Category</label>
                            <select name="itmecategory" class="form-control" id="itemCategory" required>
                                <option value="">-----</option>
                                <option value="Vegetables">Veg</option>
                                <option value="Fruits">Fru</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="itemUnit">Item Unit</label>
                            <select name="itemunit" class="form-control" id="itemUnit" required>
                                <option value="">-----</option>
                                <option value="Kilogram">Kg</option>
                                <option value="Pieces">Pcs</option>
                            </select>
                        </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success px-5">Submit</button>
                    </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal to edit an existing item -->
<div class="modal fade" id="myModal22" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h5 class="modal-title" id="exampleModalLabel2">Edit Item</h5>
            </div>
            <div class="modal-body d-flex flex-wrap">
                <div class="col">
                    <form id="itemForm2" method="post" action="{% url 'item_pg' %}" class="footer-bottom">
                        {% csrf_token %}
                        <input type="hidden" name="itemid" id="itemId2">
                        <div class="form-group">
                            <label for="itemName">Item Name</label>
                            <input name="itemname" type="text" class="form-control" id="itemName2" required>
                        </div>
                        <div class="form-group">
                            <label for="itemCategory">Item Category</label>
                            <select name="itmecategory" class="form-control" id="itemCategory2" required>
                                <option value="">-----</option>
                                <option value="Vegetables">Veg</option>
                                <option value="Fruits">Fru</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="itemUnit">Item Unit</label>
                            <select name="itemunit" class="form-control" id="itemUnit2" required>
                                <option value="">-----</option>
                                <option value="Kilogram">Kg</option>
                                <option value="Pieces">Pcs</option>
                            </select>
                        </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success px-5">Update</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Table to display saved items -->
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Items</h2>
            <br>
            <div class="col-12" style="text-align: right;">
                <button type="button" class="btn btn-success px-5" data-toggle="modal" data-target="#myModal2" style="margin-bottom: 20px;">
                    Add a New Item
                </button>
            </div>
            <table class="table table-hover ">
                <thead class="">
                    <tr>
                        <th class="headerx col-4" scope="col">Item Name</th>
                        <th class="headerx col-4" scope="col">Item Category</th>
                        <th class="headerx col-2" scope="col">Item Unit</th>
                        <th class="headerx col-2" scope="col">Action</th>
                    </tr>
                </thead>

                </table>

                <div class="" style="height: 60vh; overflow: auto;">
                <table  class="table table-hover table-striped" >
                    <tbody id="itemTable">
                {% for i in item_data %}
                <tr>
                    <td class="col-4" style="padding-left: 25px;">{{ i.item_name }}</td>
                    <td class="col-4" style="padding-left: 25px;">{{ i.item_category }}</td>
                    <td class="col-2" style="padding-left: 25px;">{{ i.item_unit }}</td>
                    <td class="col-2" style="padding-left: 25px;">
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal22" onclick="editItem('{{ i.id }}', '{{ i.item_name }}', '{{ i.item_category }}', '{{ i.item_unit }}')">
                            Edit
                        </button>
                        <a href="{% url 'deleteItem' Did=i.id %}">
                            <button type="button" class="btn btn-danger">
                                X
                            </button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                    </tbody>
            </table>
        </div>
    </div>
</div>
<div class="bottom-space"></div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<script>
    function editItem(id, name, category, unit) {
        document.getElementById('itemId2').value = id;
        document.getElementById('itemName2').value = name;
        document.getElementById('itemCategory2').value = category;
        document.getElementById('itemUnit2').value = unit;
        document.getElementById('exampleModalLabel2').innerText = name;
    }

    function updateSerialNumbers() {
            const table = document.getElementById('itemTable');
            const rows = table.getElementsByTagName('td');
            for (let i = 0; i < rows.length; i++) {
                rows[i].cells[0].innerText = i + 1;
     }
    }
</script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
{% for i in messages %}
{% if i.tags == 'warning' %}
    <script>
        swal('{{i}}', '', 'warning');
    </script>
{% elif i.tags == 'error' %}
    <script>
        swal('{{i}}', '', 'error');
    </script>
{% elif i.tags == 'info' %}
    <script>
        swal('{{i}}', '', 'info');
    </script>
{% else %}
    <script>
        swal('{{i}}', '', 'success');
    </script>
{% endif %}
{% endfor %}
{% endif %}
</div>
</body>
</html>
{% endblock %}
