<!DOCTYPE html>
{% extends 'user/Index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Item</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
        <div class="row">
            <!-- Form to add item -->
            <div class="form-container col-md-4">
                <h2>Set default % </h2>
                <form method="post" action="{% url 'price_pg' %}">
                    {% csrf_token %}
                <div class="form-group">
                    <label>Tax % </label>
                    <input id="defaultTax" name="tax" type="text" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Offer %</label>
                    <input id="defaultOffer" name="offer" type="text" class="form-control" required>
                </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
            </div>
            <!-- Table to display saved items -->
            <div class=" col-md-8">
                <h2>Price Chart</h2><br>
                <form id="itemForm" method="post" action="{% url 'updatePrice' %}">
                    {% csrf_token %}
                    <table class="table table-bordered table-striped" style="width: 90%; text-align: center;">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Selling Price <i>(Rs.)</i> </th>
                                <th>Tax <i>(%)</i> </th>
                                <th>Offer <i>(%)</i> </th>
                            </tr>
                        </thead>
                        <tbody id="itemsTableBody">
                        {% for i in price_data %}
                        <tr>
                            <td style="text-align: center;"><input name="id" type="hidden" value="{{i.id}}">
                            <input name="itemname[]" type="text" class="form-control" value="{{i.pt_item.item_name}}" readonly></td>
                            <td style="text-align: center;"><input name="sellingprice[]" type="text" class="form-control" value="{{i.pt_sellingPrice}}"></td>
                            <td style="text-align: center;"><input name="tax[]" type="text" class="form-control" value="{{i.pt_tax}}"></td>
                            <td style="text-align: center;"><input name="offer[]" type="text" class="form-control" value="{{i.pt_offer}}"></td>
                        </tr>
                        {% endfor %}
                            <!-- Rows will be added dynamically here -->
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        body {

        }
        .form-container {
            width: 40%;
        }
        .table-container {
            width: 55%;
        }
        .form-control {
            width: 150px;
            text-align: center;
        }
        td input {
            text-align: center;
        }
    </style>
</body>
</html>
{% endblock %}
