<!DOCTYPE html>
{% extends base_template %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StockSmart-Set Price</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'assets/style.css' %}" rel="stylesheet">
</head>
<body>
<div class="navheight"></div>
<br><br>
<div class="container">
    <h2>Price Chart</h2>

    <div class="d-flex flex-wrap">
        <!-- Form to add item -->

        <div class="col-12" style="margin-bottom:1px;">
            <h5>Set default </h5>
        </div>

        <form method="post" action="{% url 'price_pg' %}" class="col-12">
            {% csrf_token %}
            <div class="col-12 d-flex flex-wrap">

                <div class="form-group col-4">
                    <input id="defaultTax" name="tax" type="text" class="form-control" placeholder="Tax %" required>
                </div>

                <div class="form-group col-4">
                    <input id="defaultOffer" name="offer" type="text" class="form-control" placeholder="Offer %" required>
                </div>

                <div class="form-group col-4">
                    <input id="defaultMargin" name="margin" type="text" class="form-control" placeholder="margin Rs." required>
                </div>

            </div>
            <div class="col-12" style="text-align: right;">
                <button type="submit" class="btn btn-success px-5">Submit</button>
            </div>
        </form>
    </div>

    <br>
    <!-- Table to display saved items -->
    <div class="col-12">
        <br>

        <form class="footer-bottom" id="itemForm" method="post" action="{% url 'updatePrice' %}">
            {% csrf_token %}
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="headerx col-3">Item</th>
                        <th class="headerx col-2">Average (Rs.)</th>
                        <th class="headerx col-1">Margin (Rs.)</th>
                        <th class="headerx col-2">Price (Rs.)</th>
                        <th class="headerx col-1">Tax (%) </th>
                        <th class="headerx col-1">Offer (%)</th>
                        <th class="headerx col-2">Selling Price (Rs.)</th>
                    </tr>
                </thead>
            </table>
            <div style="height: 50vh; overflow: auto;">
                <table class="table table-hover price-table">
                    {% for i in price_data %}
                    <tr>
                        <input name="id[]" type="hidden" class="form-control" value="{{i.id}}" readonly>
                        <td class="col-3" style="padding-left: 25px;">
                            <input name="itemname[]" type="text" class="form-control item-name" value="{{i.pt_item.item_name}}" readonly>
                        </td>
                        <td class="col-2" style="padding-left: 25px;">
                            <input name="averageprice[]" type="text" class="form-control average-price" value="{{i.pt_averagePrice}}">
                        </td>
                        <td class="col-1" style="padding-left: 25px;">
                            <input name="marginprice[]" type="text" class="form-control margin-price" value="{{i.pt_margin}}">
                        </td>
                        <td class="col-2" style="padding-left: 25px;">
                            <input name="sellingprice[]" type="text" class="form-control selling-price" value="{{i.pt_sellingPrice}}" readonly>
                        </td>
                        <td class="col-1" style="padding-left: 25px;">
                            <input name="tax[]" type="text" class="form-control tax" value="{{i.pt_tax}}">
                        </td>
                        <td class="col-1" style="padding-left: 25px;">
                            <input name="offer[]" type="text" class="form-control offer" value="{{i.pt_offer}}">
                        </td>
                        <td class="col-2" style="padding-left: 25px;">
                            <input type="text" class="form-control total-price" readonly>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <br>

            <div style="text-align: right;">
                <button type="submit" class="btn btn-success px-5">Submit</button>
            </div>
        </form>
    </div>
</div>

<div class="bottom-space"></div>
<div class="bottom-space"></div>
<!-- Bootstrap JS and dependencies -->
<!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script>
    $(document).ready(function(){
        // Function to calculate selling price
        $('.average-price, .margin-price').on('keyup change', function(){
            var $row = $(this).closest('tr');
            var avg = parseFloat($row.find('.average-price').val()) || 0;
            var mrg = parseFloat($row.find('.margin-price').val()) || 0;
            var sellingPrice = (avg + mrg).toFixed(2);
            $row.find('.selling-price').val(sellingPrice);

            // Trigger calculation of total price when selling price changes
            $row.find('.selling-price').trigger('keyup');
        });

        // Function to calculate total price
        $('.selling-price, .tax, .offer').on('keyup change', function(){
            var $row = $(this).closest('tr');
            var selling = parseFloat($row.find('.selling-price').val()) || 0;
            var tax = parseFloat($row.find('.tax').val()) || 0;
            var offer = parseFloat($row.find('.offer').val()) || 0;
            var qty = 1; // Assuming quantity is 1

            var total = (qty * selling) + ((tax / 100) * (qty * selling)) - ((offer / 100) * (qty * selling));
            $row.find('.total-price').val(total.toFixed(2));
        });

        // Optionally, trigger calculation on page load
        $('.average-price, .margin-price, .selling-price, .tax, .offer').each(function(){
            $(this).trigger('keyup');
        });
    });
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
    {% for i in messages %}
        {% if i.tags == 'warning' %}
            <script>
                swal('{{ i }}', '', 'warning');
            </script>
        {% elif i.tags == 'error' %}
            <script>
                swal('{{ i }}', '', 'error');
            </script>
        {% elif i.tags == 'info' %}
            <script>
                swal('{{ i }}', '', 'info');
            </script>
        {% else %}
            <script>
                swal('{{ i }}', '', 'success');
            </script>
        {% endif %}
    {% endfor %}
{% endif %}

</body>
</html>
{% endblock %}
