<!DOCTYPE html>
{% extends base_template %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StockSmart-Overall Report</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'assets/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="d-flex justify-content-center" >
        <div class="flex-grow-1">
            <div class="container" >
                <div class="row ">
                    <div class="col-md-12 mb-4">
                <div class="card bg-light-purple">
                    <form method="post">
                         {% csrf_token %}
                    <div class="card-body mx-5 my-5 mt-5 p-2" id="report-content">
                        <div class="d-flex justify-content-between align-items-center"><h5 class="card-text">Report : <span>{{current_date}}</span></h5>
                        </div><br>
                        <div class="row d-flex justify-content-between my-3 mx-2 px-2 py-2 " >
                            <div class="col-md-12 " >
                                <h5 class="" >Income :-</h5>
                                    <p class="card-text px-5">Sales:- {{daily_sales}}</p>
                                <h5 class="">Expense :-</h5>
                                    <p class="card-text px-5">Sales Return:- {{daily_sales_return}}</p>
                                    <p class="card-text px-5">Purchase:- {{daily_purchase}}</p>
                            </div>
                            <div class="col-md-12 ">
                                <h5 class="p-1">Profit :- </h5>
                                <p class="card-text px-5">{{daily_profit}}</p>
                            </div>
                            <div class="col-md-12 p-2" >
                                <h5 class="p-1">Low Stock</h5>
                                <p class="card-text">
                                    <div>
                            {% if low_stock_list %}
                                <ul class="card-title px-5">
                                    {% for i in low_stock_list %}
                                    <li class="pt-2">
                                        <span class="text-pink">{{i.0}} </span> <span class="ms-5"> : {{i.1}} </span></li>
                                    {% endfor %}
                                </ul>
                                {% else %}
                                <p>No item with Low stock </p>
                                {% endif %}
                            </div>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <button onclick="downloadTextAsPDF()" type="submit" class="btn btn-warning m-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-download-fill" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M8 0a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 4.095 0 5.555 0 7.318 0 9.366 1.708 11 3.781 11H7.5V5.5a.5.5 0 0 1 1 0V11h4.188C14.502 11 16 9.57 16 7.773c0-1.636-1.242-2.969-2.834-3.194C12.923 1.999 10.69 0 8 0m-.354 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V11h-1v3.293l-2.146-2.147a.5.5 0 0 0-.708.708z"/>
                                </svg>
                            </button>
                            <button type="submit" class="btn btn-danger" name="send_pdf">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-paper-fill" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M6.5 9.5 3 7.5v-6A1.5 1.5 0 0 1 4.5 0h7A1.5 1.5 0 0 1 13 1.5v6l-3.5 2L8 8.75zM1.059 3.635 2 3.133v3.753L0 5.713V5.4a2 2 0 0 1 1.059-1.765M16 5.713l-2 1.173V3.133l.941.502A2 2 0 0 1 16 5.4zm0 1.16-5.693 3.337L16 13.372v-6.5Zm-8 3.199 7.941 4.412A2 2 0 0 1 14 16H2a2 2 0 0 1-1.941-1.516zm-8 3.3 5.693-3.162L0 6.873v6.5Z"/>
                                </svg>
                            </button>
                        </div>
                    </div></form>
                </div>
            </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

    <script>
    function downloadTextAsPDF() {
        const { jsPDF } = window.jspdf;
        const doc = new jsPDF();

        // Get the content from the report div
        let reportContent = document.getElementById('report-content').innerText;

        // Add the text content to the PDF
        doc.text(reportContent, 10, 10);

        // Trigger the download
        doc.save('daily_report_{{current_date}}.pdf');
    }
</script>


    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
{% for i in messages %}
{% if i.tags == 'warning' %}
            <script>
              swal('{{i}}', '', 'warning');
            </script>
        {% elif i.tags == 'error' %}
            <script>
              swal('{{i}}', '', 'error');
            </script>
        {% elif i.tags == 'info' %}
            <script>
              swal('{{i}}', '', 'info');
            </script>
        {% else %}
            <script>
              swal('{{i}}', '', 'success');
            </script>
        {% endif %}
    {% endfor %}
{% endif %}

</body>
</html>
{% endblock %}
