<!DOCTYPE html>
{% extends base_template %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StockSmart-Daily Report</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'assets/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="navheight"></div>
    <br><br>
    <div class="container d-flex justify-content-center" >
        <div class="col-6 Dash-Price-card mt-3">
            <div id="report-content">
                <div class="my-3">
                    <h4>Daily Report :- {{current_date}}</h4>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="report-content">
                        <h5 class="mb-4">Income</h5>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td class="col-2">Sales</td>
                                    <td class="col-8">{{daily_sales}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <h5 class="mb-4">Expense</h5>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td class="col-2"> Purchase</td>
                                    <td class="col-8">{{daily_purchase}}</td>
                                </tr>
                                <tr>
                                    <td class="col-2">Return</td>
                                    <td class="col-8">{{daily_sales_return}}</td>
                                </tr>
                                <tr>
                                    <td class="col-2">Damage</td>
                                    <td class="col-8">{{daily_damage}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <h5 class="mb-4">Profit</h5>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td class="col-2">Amount</td>
                                    <td class="col-8">{{daily_profit}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <h5 class="mb-4">Low Stock</h5>
                        {% if low_stock_list %}
                            {% for i in low_stock_list %}
                                <ul class="px-5"><li>{{i.0}}</li></ul>
                            {% endfor %}
                        {% else %}
                            <p>No item with Low stock</p>
                        {% endif %}
                    </div><br>
                    <div class="col-md-12 text-center">
                        <button type="button" onclick="downloadTextAsPDF()" class="btn btn-success px-5">Download</button>
                        <button type="submit" class="btn btn-success px-5" name="send_pdf">Email</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="bottom-space"></div>
    <br><br>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script>
        function downloadTextAsPDF() {
            const { jsPDF } = window.jspdf;
            const doc = new jsPDF();

            // Get the content from the report div
            let reportContent = document.getElementById('report-content').innerText;

            // Add the text content to the PDF
            doc.text(reportContent, 10, 10);

            // Trigger the download
            doc.save('daily_report_{{current_date}}.pdf');
        }
    </script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    {% if messages %}
        {% for i in messages %}
            {% if i.tags == 'warning' %}
                <script>
                    swal('{{i}}', '', 'warning');
                </script>
            {% elif i.tags == 'error' %}
                <script>
                    swal('{{i}}', '', 'error');
                </script>
            {% elif i.tags == 'info' %}
                <script>
                    swal('{{i}}', '', 'info');
                </script>
            {% else %}
                <script>
                    swal('{{i}}', '', 'success');
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
</body>
</html>
{% endblock %}
