<!DOCTYPE html>
{% extends base_template %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StockSmart-Return Details</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'assets/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container order-container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="order-header text-center">
                    <h2>Sales Bill</h2>
                </div>
                <div class="order-body">
                    <div class="row">
                        <div class="col-md-6">
                           <p><strong>Bill number: </strong> {{ saleret_ord.rst_billNum }}</p>
                            <p><strong>GISTIN Number:</strong> {{company_data.company_gst}}</p>
                            <p><strong>Date: </strong> {{ saleret_ord.rst_date }}</p>
                        </div>
                        <div class="col-md-6 text-md-right">
                           <p><strong>Company: </strong> {{company_data.company_name}}</p>
                           <p><strong>Address: </strong> {{company_data.company_address}}</p>
                            <p><strong>Contact Number::</strong> {{company_data.company_mobile}}</p>
                        </div>
                    </div>
                    <table class="table table-striped order-table">
                        <thead class="bg-info">
                            <tr>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Tax %</th>
                                <th>Offer %</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for j in saleret_itm %}
                                <tr>
                                    <td>{{ j.rsit_item.item_name }}</td>
                                    <td>{{ j.rsit_qty }}</td>
                                    <td><i>Rs.</i>{{ j.rsit_price }}</td>
                                    <td>{{ j.rsit_tax }}<i>%</i></td>
                                    <td>{{ j.rsit_offer }}<i>%</i></td>
                                    <td><i>Rs.</i>{{ j.rsit_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-12 text-md-right">
                            <p><strong>Total: </strong> <i>Rs.</i>{{ saleret_Amount }}</p>
                        </div>
                    </div>
                    <div class="text-center print-button">
                        <a href="{% url 'index' %}"><button class="btn btn-info footer-bottom">Ok</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</body>
</html>
{% endblock %}
