<!DOCTYPE html>
{% extends base_template %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StockSmart-Sales Order</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'assets/style.css' %}" rel="stylesheet">
</head>
<body>
<div class="navheight" style="height: 100px"></div>

    <div class="container order-container">
        <div class="row justify-content-center">

            <div class="col-12">
                <div class="order-body">

                    <div class="bill-header d-flex">

                        <div class="col vendor-details-head">
                        <h2>{{company_data.company_name}}</h2>
                            <p>{{company_data.company_address}}</p>
                            <p>Phone: {{company_data.company_mobile}}</p>
                        </div>

                        <div class="col print-only text-right vendor-details-head">
                            <p> Sales Order Number: <h5>{{ s_order.sot_bill_number }}</h5></p>
                        </div>
                    </div>



                    <div class="d-flex">
                        <div class="col vendor-details">
                            <p>GSTIN: <strong>{{company_data.company_gst }}</strong> </p>

                            <br>
                        </div>
                        <div class="col text-right vendor-details">
                            <p>Date:<strong> {{ s_order.sot_date }}</strong> </p>
                        </div>
                    </div>

                    <div class="col">
                        <table class=" table table-striped ">
                        <thead class="">
                            <tr>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Tax %</th>
                                <th>Offer %</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in so_item %}
                                <tr>
                                    <td>{{ i.soit_item.item_name }}</td>
                                    <td>{{i.soit_quantity}}</td>
                                    <td><i>Rs.</i>{{i.soit_price.pt_sellingPrice}}</td>
                                    <td>{{i.soit_price.pt_tax}}<i>%</i></td>
                                    <td>{{i.soit_price.pt_offer}}<i>%</i></td>
                                    <td><i>Rs.</i>{{i.soit_total}}</td>
                                </tr>
                            {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><i>Rs.</i><b>{{overall}}</b></td>
                        </tr>
                        </tbody>
                    </table>
                    </div>

                    <div class="row">
                        <div class="col-md-12 text-md-right px-5">
<!--                            <p><strong>Total: </strong><i>Rs.</i>{{ pur_Amount }}</p>-->
                        </div>
                    </div>
                    <div class="text-center">
                        <br>
                        <br>
                        <br>
                        <p><i>Thank you!</i></p>
                    </div>

                </div>
            </div>
            <div class="col-12 text-center print-button">
                        <button onclick="window.print()" class="btn btn-success px-5">Print</button>
                        <a href="{% url 'sales_order' %}"><button type="submit" class="btn btn-success px-5">Back</button></a>
            </div>
        </div>
    </div>

<div class="bottom-space"></div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</body>
</html>
{% endblock %}
