<!DOCTYPE html>
{% extends base_template %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StockSmart-Order Details</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'assets/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container order-container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="order-header text-center">
                    <h2>Sales Bill</h2>
                </div>
                <div class="order-body">
                    <div class="print-only text-center">
                        <p> <h2>{{company}}</h2></p>
                         <h4>Sales Bill</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Bill number: </strong> {{ s_order.sot_bill_number }}</p>
                            <p><strong>GISTIN Number:</strong> {{gst}}</p>
                            <p><strong>Date: </strong> {{ s_order.sot_date }}</p>
                        </div>
                        <div class="col-md-6 text-md-right">
                           <p><strong>Company: </strong> {{company}}</p>
                           <p><strong>Address: </strong> {{address}}</p>
                            <p><strong>Contact Number::</strong> {{number}}</p>
                        </div>
                    </div>
                    <table class="table table-striped order-table">
                        <thead class="bg-info">
                            <tr>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Tax %</th>
                                <th>Offer %</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for j in so_item %}
                                <tr>
                                    <td>{{ j.soit_item.item_name }}</td>
                                    <td>{{ j.soit_quantity }}</td>
                                    <td><i>Rs.</i>{{ j.soit_price.pt_sellingPrice }}</td>
                                    <td>{{ j.soit_price.pt_tax }}<i>%</i></td>
                                    <td>{{ j.soit_price.pt_offer }}<i>%</i></td>
                                    <td><i>Rs.</i>{{ j.soit_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-12 text-md-right">
                            <p><strong>Total: </strong> <i>Rs.</i>{{ overall }}</p>
                        </div>
                    </div>
                    <div class="print-only">
                        <p><strong>Bill Note:</strong>Thank you for your purchase! We appreciate your business and hope you enjoy your new item.</p><p class="text-center"><i>Please visit again. <br> Thank you!</i></p>
                    </div>
                    <div class="text-center print-button">
                         <button onclick="window.print()" class="btn btn-info footer-bottom">Print</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</body>
</html>
{% endblock %}
