<!DOCTYPE html>
{% extends base_template %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StockSmart-Purchase Order</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'assets/style.css' %}" rel="stylesheet">
</head>
<body>
<div class="navheight"></div>
<br>
<br>
<div class="container d-flex flex-wrap">

<!-- vendor details -->

    <div class="col-12">
        <h4 class="mt-1">Confirmed Purchase Order</h4>

        <input class="form-control" name="purchaseOrderNum" type="text" id="orderSearch" placeholder="Search for Order Number" value="{% if purchaseOrder %}{{ purchaseOrder.pot_order_number }}{% endif %}" required>

        <div id="orderDetails" class="d-flex ">

            <div class="col-3 shop-details-header mt-4 " style="height:160px;">
                <b>Purchase Order Number:</b></br>
                <b>Date of purchase:</b></br>
                <b>Vendor shop</b></br>
                <b>Contact Person:</b></br>
                <b>Address:</b></br>
                <b>Phone Number:</b>
            </div>

            <div id="shopDetails" class="shop-details container col-9 mt-4 " style="height:160px;">
                {% if purchaseOrder %}

                    {{ purchaseOrder.ot_order_number }}<br>
                    {{ purchaseOrder.ot_date }}<br>
                    {{ purchaseOrder.ot_vendor.vendor_shop_name }}<br>
                    {{ purchaseOrder.ot_vendor.vendor_name }}<br>
                    {{ purchaseOrder.ot_vendor.vendor_location }}<br>
                    {{ purchaseOrder.ot_vendor.vendor_phone }}

                {% endif %}
            <!-- Shop details will be displayed here -->
            </div>

        </div>

    </div>

<!-- bill details -->

    <div class="col-12">

        <form method="post" action="{% url 'confirmpurchase' %}" class="footer-bottom ">
    {% csrf_token %}
        <input name="purchaseOrderNum_id" type="hidden" id="purchaseOrderNum_id" value="{% if purchaseOrder %}{{ purchaseOrder.id }}{% endif %}" readonly>
        <input name="purchaseOrderNum" type="hidden" id="purchaseOrderNum" value="{{purchaseOrder.ot_order_number}}" readonly>
        <input name="vendor_id" type="hidden" value="{{ purchaseOrder.ot_vendor.vendor_id }}" readonly>
        <input name="user_id" type="hidden" value="{{ user.id }}" readonly>
    <div id="itemsDetails" class="container mt-1">
        <div class="justify-content-between" >

        <table class="table">
            <thead>
                <tr>
                    <th class="headerx" scope="col">Item Name</th>
                    <th class="headerx" scope="col">Quantity</th>
                    <th class="headerx" scope="col">Price</th>
                    <th class="headerx" scope="col">Tax</th>
                    <th class="headerx" scope="col">Amount</th>
                    <th class="headerx" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
            {% if purchaseItems %}
                {% for item in purchaseItems %}

                <tr >
                    <td><input type="text" name="item_name[]" value="{{ item.oit_items }}" class="form-pdt form-pdt " readonly>
                    <input type="hidden" name="item_id[]" value="{{ item.id }}"></td>
                    <td><input type="number" name="item_quantity[]" value="{{ item.oit_quantities }}" class="form-control  qty-input" placeholder="Quantity" min="1" max="" required></td>
                    <td><input type="number" step="0.01" name="item_price[]" class="form-control  price-input" placeholder="Price" min="1" required></td>
                    <td><input type="number" step="0.01" name="item_tax[]"  class="form-control  tax-input" placeholder="Tax %" min="0" required></td>
                    <td><input type="number" step="0.01" name="item_amount[]" class="form-pdt total-input" placeholder="Total" readonly required></td>
                    <td><button class="btn btn-danger delete-item-btn" type="button">X</button></td>
                </tr>
                {% endfor %}
            {% endif %}
                </div>
            </tbody>
        </table>

        </div>
        <hr>
        <p class="mt-1"><i>Customize your purchase and hit 'Confirm'.</i></p>
        <div class="d-flex justify-content-end mb-3">
            <button class="btn btn-success mr-2 px-5" type="submit" id="orderButton" >Confirm</button>
        </div>
    </div>
</form>


</div>


        <div class="col-12">
        <h4>Unconfirmed Order List</h4>
        <hr>
        <div class=" d-flex flex-wrap">
            {% for i in purchaseOrder_data %}
                <div class="d-flex unconfirmed-list py-2">
                    <div class="col-4"> <b>{{i.ot_order_number}}</b></div>
                    <div class="col-4 text-right">{{i.ot_date}}</div>
                    <div class="col-4 text-right">{{i.ot_vendor}}</div>

                </div>
                <!-- <button type="button" value="{{i.id}}" class="btn m-1 btn-warning orderButton" >{{i.ot_order_number}}</button>-->
            {% endfor %}
        </div>
    </div>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->

<script>
    $(document).ready(function() {
        var orderData = [
            {% for i in purchaseOrder_data %}
                {"id": "{{ i.id }}", "purchasenumber": "{{ i.ot_order_number }}", "date": "{{ i.ot_date }}", "vendorShop": "{{ i.ot_vendor.vendor_shop_name }}", "vendorperson": "{{ i.ot_vendor.vendor_name }}", "vendoraddress": "{{ i.ot_vendor.vendor_location }}", "vendornumber": "{{ i.ot_vendor.vendor_phone }}" }{% if not forloop.last %},{% endif %}
            {% endfor %}
        ];

        $("#orderSearch").autocomplete({
            source: orderData.map(order => order.purchasenumber),
            select: function(event, ui) {
                var selectedOrder = orderData.find(order => order.purchasenumber === ui.item.value);
                if (selectedOrder) {
                    // Set the value of the input field to the selected purchase order number
                    $('#orderSearch').val(selectedOrder.purchasenumber);
                    $('#purchaseOrderNum_id').val(selectedOrder.id);

                    // Trigger form submission to filter and display order items
                    $('form').submit();
                }
            }
        });

        // Calculation for total price and tax
        $(document).on('change', '.qty-input, .price-input, .tax-input', function() {
            var row = $(this).closest('tr');
            calculateTotal(row);
        });

        function calculateTotal(row) {
            const qty = parseFloat(row.find('.qty-input').val()) || 0;
            const price = parseFloat(row.find('.price-input').val()) || 0;
            const tax = parseFloat(row.find('.tax-input').val()) || 0;

            const total = (qty * price) + ((tax / 100) * (qty * price));
            row.find('.total-input').val(total.toFixed(2));
        }

        // Delete item functionality
        $(document).on('click', '.delete-item-btn', function() {
            $(this).closest('tr').remove();
        });
    });
</script>
</body>
</html>
{% endblock %}
