<!DOCTYPE html>
{% extends base_template %}
{% load static %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StockSmart-Order</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'assets/style.css' %}" rel="stylesheet">
</head>


<body>
<div class="navheight"></div>
<br>
<br>

<!-- list -->
<div class="container d-flex flex-wrap">

    <div class="col-4">
    <h3>Item list</h3>
        <div class=" d-flex flex-wrap itemlist mb-2">
        {% for i in stock_data %}
        <button type="button" value="{{i.id}}" class=" col-6 itemButton {% if i.st_remainingStock < 10 %}btn-warning{% endif %} " >{{i.st_item.item_name}}</button>
        {% endfor %}
        </div>
    </div>

    <div class="col-8">
        <h4 class="">Add Vendor</h4>
        <form method="post" action="{% url 'order' %}" class="">
        {% csrf_token %}
        <input name="vendor" type="text" id="shopSearch" placeholder="Search for a shop" class="form-control" required>

            <input name="vendor_id" type="hidden" id="vendorID" value="{{ vendor_data.id }}" readonly>
            <input name="user_id" type="hidden" value="{{ user.id }}" readonly>


        <div class="d-flex">
        <div class="col-3 shop-details-header mt-4">
            <b>Shop Name:</b></br>
            <b>Contact Person:</b></br>
            <b>Contact Number:</b></br>
            <b>Address:</b>
        </div>
        <div id="shopDetails" class="shop-details container col-9 mt-4">

            <!-- Shop details will be displayed here -->
        </div>
        </div>


    <hr>
    <h4 class="mt-1">Select Items</h4>

    <div class="mt-1">
    <div class="">
    <input type="text" class="form-control small-input" id="input1" placeholder="Add item">

        <br>
    </div>
    </div>

    <div class="container ">
    <div id="item-list" class="">

            <table class="table" >
            <tr >
            <th class="headerx col-6" scope="col">Item</th>
            <th class="headerx col-4" scope="col">Quantity</th>
            <th class="headerx col-2" scope="col">Delete</th>
            </tr>
            </table>
    <!-- Input fields for selected items will be dynamically added here -->
    </div>
        <hr>
    <div class="d-flex justify-content-end my-3">
    <button class="btn btn-success mr-2 px-5" type="submit" id="orderButton">Order</button>
    </div>
    </div>


    </form>

    </div>
</div>
<div class="bottom-space"></div>







<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
        $(document).ready(function() {
            var shopData = [
                {% for i in vendor_data %}
                    { "id": "{{ i.vendor_id }}", "name": "{{ i.vendor_shop_name }}", "person": "{{ i.vendor_name }}", "address": "{{ i.vendor_location }}", "number": "{{i.vendor_phone}}" }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ];

        $("#shopSearch").autocomplete({
            source: shopData.map(shop => shop.name),
            select: function(event, ui) {
                var selectedShop = shopData.find(shop => shop.name === ui.item.value);
                if (selectedShop) {
                    $('#shopDetails').html('<div>' + selectedShop.name + '<br> ' + selectedShop.person + '<br>' + selectedShop.number + '<br> ' + selectedShop.address + '</div>');
                    $('#vendorID').val(selectedShop.id);
                }
            }
        });

        var itemData = [
            {% for i in item_data %}
                { "id": "{{ i.id }}", "name": "{{ i.item_name }}"}{% if not forloop.last %},{% endif %}
            {% endfor %}
        ];

        $("#input1").autocomplete({
            source: itemData.map(item => item.name),
            select: function(event, ui) {
                var selectedItem = itemData.find(item => item.name === ui.item.value);
                if (selectedItem) {
                    addItem(selectedItem.name);
                    $(this).val(''); // Clear the input field
                    return false; // Prevent the default autocomplete behavior
                }
            }
        });

        // Add event listener for item buttons
        $('.itemButton').on('click', function() {
            var itemId = $(this).val();
            var selectedItem = itemData.find(item => item.id == itemId);
            if (selectedItem) {
                addItem(selectedItem.name);
            }
        });
    });

    function addItem(itemName) {
        const input1 = itemName || document.getElementById('input1').value;
        const newItem = document.createElement('div');
        newItem.classList.add('input-group');
        newItem.innerHTML = `
<table class="table table-hover" >
<tr>
<td class="col-6">
<input type="text" name="item_name[]" class="form-pdt" value="${input1}" readonly>
</td>

<td class="col-4">
<input type="number" name="item_quantity[]" class="form-control" placeholder="Quantity" min="1" required>
</td>

<td class="col-2"><button class="btn btn-danger delete-item-btn" type="button">X</button></td>
</tr>
</table>
        `;
        const itemList = document.getElementById('item-list');
        itemList.appendChild(newItem);
        document.getElementById('input1').value = '';

        // Attach event handler to delete button
        newItem.querySelector('.delete-item-btn').addEventListener('click', function() {
            deleteItem(newItem);
        });
    }

    function deleteItem(itemElement) {
        itemElement.remove();
    }
</script>

</body>
</html>
{% endblock %}
