    .login-body {
           background-image: linear-gradient(black, rgb(3, 3, 85)) !important;
        }
    .card{
        border: none !important;
    }
    .login-card {
        border-radius: 10px !important;
        overflow: hidden !important;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
       }

    .login-card-img {
        height: 100% !important;
        object-fit: cover !important;
    }

    .login-card-title {
        font-weight: bold !important;
        margin-bottom: 20px !important;
    }
    .btn-ss{
             background-color: rgb(3, 3, 85) !important;
             color: #ffffff !important;
             border: none !important;
             box-shadow: none !important;