.x{
border: 1px solid red;
}

.activex {
    color: #FFB533 !important;
    border-bottom: 1px solid #FFB533 !important;
    background-color: #37513A !important;
}




.nav-item{
border-bottom: 1px solid #1C2C1E;
}

/* color-green */
.alert-success,
.bg-success,
.text-success,
.border-success {
    background-color: #1C2C1E !important;
    color: #ffffff !important; /* If needed */
    border-color: #your-border-color !important; /* If needed */
}

/* elements */
body {
    overflow-x: hidden; /* Disable horizontal scrolling */
    height: 95vh;
    margin-bottom: 20px;
}

a{
    text-decoration: none !important;
}
table{
margin-bottom: 0px !important;
}

.bottom-space{
height: 5vh;
}

/* Nav-bar */

.navbar{
padding: 0Px !important;
}

.nav-item{
padding: .5rem .5rem;
}

.navbar-brand {
   font-size: 1.5rem !important;
}

.navbar a{
    color: #ffffff !important;
    text-decoration: none !important;
}

.navbar a:hover {
    color: #FFCC7B !important;
    text-decoration: none !important;
}

.navbar a:active, {
    border-color: #your-new-active-border-color;
    color: #FFCC7B !important;
}

.dropdown-menu{
    background-color: #2A492D !important;
    }

.dropdownItem {
    padding: 2px;
    margin-left:8px;
    align-items: center;
    justify-content: space-between;
    display: inline-flex;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    width: 100%
}

/* footer */
.footer-bottom{
    margin-bottom: 80px;
}

/* Default state */
.btn-success {
    background-color: #1C2C1E !important;
    color: #ffffff !important;
    border: none !important;
    border-color: #your-border-color !important;
}

/* Hover state */
.btn-success:hover {
    background-color: #2A572E !important;
    border-color: #your-new-hover-border-color;
    color: #your-new-hover-text-color;
}

/* Active state */
.btn-success:active,
.btn-success.active,
.show > .btn-success.dropdown-toggle {
    background-color: #2A572E!important;
    border-color: #your-new-active-border-color;
    color: #your-new-active-text-color;
}

/* Focus state */
.btn-success:focus,
.btn-success.focus {
    background-color: #2A572E !important;
    border-color: #2F912F !important;
    color: #your-new-focus-text-color;
    box-shadow: 0 0 0 0rem rgba(#2F912F;, 0)!important;
}

/* Disabled state */
.btn-success.disabled,
.btn-success:disabled {
    background-color: #566857 !important;
    border-color: #your-new-disabled-border-color;
    color: #your-new-disabled-text-color;
}




.btn-add {
background-color: #FFB533 !important;
margin: 5px;
padding: 10px 5px;
border-radius: 5px;
text-align: center;
font-size: .8rem;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);

}

.btn-add a {
color: #000000 !important;
font-weight: 500;
}

.btn-add:active,
.btn-add.active,
.btn-add:focus,
.btn-add.focus,
.btn-add:hover{
background-color: #FFCC7B !important;
}


.top-fig {
    margin: 10px 5px 5px 5px;
    background-color: #FFFFC0;
    opacity: 0.8;
    border-radius: 10px;
    color: rgb(4, 32, 12);
}

.banner {
background-image: url("../images/background1-01.svg");
background-color: #2E522A;
color: #ffffff;
}




/* Table */

.headerx{
    background-color: rgb(29, 70, 4) !important;
    color: #fdfffa !important;
}

td{
    background: rgba(227, 255, 227, 0) !important;
}

th{
    background:rgba(227, 255, 227, 0) !important;
}


/* Dashboard */

Dash-Price-card{
height: 350px;
}






        .profile-info {
            display: flex;
            align-items: center;
            padding: 15px;
        }

        .profile-info img {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }
        .custom-container {
            width: 20%;
            border-radius: 8px;
        }
        .footer {
          position: fixed;
          left: 0;
          bottom: 0px;
          width: 100%;
          color: white;
          text-align: center;
          padding-top : 2px;
          font-size: 12px;
        }

        }
        .card-text {
            font-size: 24px;
            font-weight: bold;
        }
        .icon-bg {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .btn-info{
             background-color: #030355 !important;
             color: #ffffff !important;
             border: none !important;
             box-shadow: none !important;
        }






        .bg-light-blue { background-color: #e6f3ff; }
        .bg-light-yellow { background-color: #fff9e6; }
        .bg-light-purple { background-color: #f3e6ff; }
        .bg-light-pink { background-color: #ffe6f0; }
        .text-blue { color: #007bff; }
        .text-yellow { color: #ffc107; }
        .text-purple { color: #6f42c1; }
        .text-pink { color: #e83e8c; }
        .text-green { color: #0f8c3d; }
        .text-purple { color: #6f42c1; }
        .form-container { width: 40%; }


        input:focus {
            outline: none !important;
            box-shadow: none !important;
            border: 1px solid #1D4604 !important;
        }

        select:focus {
            outline: none !important;
            box-shadow: none !important;
            border: 1px solid #1D4604 !important;
        }










        }
        .low-stock{
            color: #e83e8c;
        }
         ul {
            padding-left: 0;
            list-style-type: none;
            margin-bottom: 0;
        }
        li {
         padding-top: 3px;
        }
        .pagination-container {
            margin-top: 20px;
            margin-bottom: 80px;
            display: flex;
            justify-content: center;
        }
        .page-link ::hover, .page-item.active{
            outline: none !important;
            box-shadow: none !important;
            background-color: #030355 !important; /* Remove the background color */
            border-color: #030355 !important; /* Remove the border color if needed */
            color: #fff !important; /* Adjust text color as needed */
        }
        .page-link{
            background-color: #030355 !important;
            color: #ffffff !important;
        }
        input.form-control:focus,
        input.form-control:hover {
            background-color: transparent !important;
            border-color: #80bdff; /* Optional: Keep the border highlight */
            box-shadow: none; /* Optional: Remove shadow */
        }




.navheight{
    height: 3vh;
}

.itemlist{
    overflow-x: hidden; /* Disable horizontal scrolling */
    height: 80vh;
}


.itemButton {
background-color: #FFE7C0 !important;
text-align: center;
height: 50px;
border: .5px solid #FFFFFF;
overflow: hidden;
}


.itemButton:hover {
background-color: #FFCC7B !important;
border: .5px solid #FFFFFF;
}

.shop-details{
height: 120px;
}

.shop-details-header {
height: 120px;
font-weight: 500;
}

.shop-details-header p{
font-weight: 500;
color: #999999;
}

.shop-details-header b{
font-weight: 500;
color: #999999;
}

.form-pdt{
border: 0px solid #FFFFFF;
background-color: rgba(0, 0, 0, 0);

}



  .order-header {
    background-color: #1D4604;
    color: white;
    padding:8px;
    border-radius: 0px
}

.order-body {
    background-color: white;
    border: 1px solid #848484;
    border-radius: 0px;
}

.order-body hr{
    margin: 0px;
    padding: 0px;
}

.vendor-details{
margin-top: 15px;
}

.vendor-details p{
margin-bottom: .5rem;
}

.vendor-details strong{
margin-bottom: .5rem;
}

.vendor-details-head p{
margin-bottom: .2rem;
}

.bill-header{
background-color: #D4D7A2;
padding:15px 5px 15px 5px;
margin-bottom: 15px;
color: #000000;
border-width: 0px 0px 1px 0px;
border-style: solid;
border-color: #848484;
}

.print-button {
    margin: 10px 0;
}

.print-onlyx{
display:none;
}

@media print {
/* Hide everything except the order details */
body * {
visibility: hidden;
}

.order-body {
background-color: white;
border: 0px solid #1D4604;
border-radius: 0px;
}

.order-body, .order-body * {
visibility: visible;
}

.order-body {
position: absolute;
left: 0;
top: 0;
width: 100%;
}
.print-button {
display: none;
}
.print-only{
display:block;
visibility: visible;
}



}