<!DOCTYPE html>
{% extends 'user/Index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-4">Stock List</h1>
    <table class="table table-striped">
        <thead style="text-align:center">
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Unit</th>
                <th scope="col">Purchase Stock</th>
                <th scope="col">Damage Stock</th>
                <th scope="col">Sold Stock</th>
                <th scope="col">Available Stock</th>
            </tr>
        </thead>
        <tbody>
            {% for i in st %}
                <tr>
                    <td>{{ i.st_item.item_name }}</td>
                    <td>{{ i.st_item.item_unit }}</td>
                    <td>{{ i.st_purchasesStock }} </td>
                    <td>{{ i.st_damageStock }} </td>
                    <td>{{ i.st_soldStock }} </td>
                    <td>{{ i.st_remainingStock }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<style>
    td {
        text-align: center;
    }
</style>
</body>
</html>
{% endblock %}