<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/SSmartlogo.svg' %}" type="image/x-icon">
    <title>StockSmart-Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'assets/style.css' %}" rel="stylesheet">



</head>
<body class="login-body">

<div class="container" style="padding-top: 30vh;">
    <div class="d-flex justify-content-center align-items-center">

        <div class="col">
            <div class="col d-flex flex-column" >
                <div class="col d-flex justify-content-center "><img src="{% static 'images/SSmartlogo.svg' %}" alt="logo" width="80" height="80"></div>
                <div class="col login-text-title " >StockSmart</div>
                <div class="col login-text-subtitle ">Inventory Made Simple</div>
            </div>
        </div>

        <div class="login-card col-4  pt-5 pb-5">
            <div class="col-12 d-flex align-items-center">
            <div class=" col">
            <!--<img src="your-image-url.jpg" alt="Graph Image">-->
            <h3 class="login-card-title card-title text-center">Login</h3>
            <h5 class="login-card-title card-title text-center">Welcome back!</h5>
            <form method="post" action="{% url 'login' %}" class="p-2">
            {% csrf_token %}
            <div class="form-group">
            <input name="login_username" type="text" class="form-control" placeholder="Username" required>
            </div>
            <div class="form-group">
            <input name="login_password" type="password" class="form-control" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-block btn-success">Login</button>
            </form>
            <hr>
            <a href="{% url 'register_admin' %}"><button class="btn btn-black btn-block" type="button">Create an Account</button></a>
            </div>
            </div>
        </div>
    </div>
</div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
{% for i in messages %}
{% if i.tags == 'warning' %}
            <script>
              swal('{{i}}', '', 'warning');
            </script>
        {% elif i.tags == 'error' %}
            <script>
              swal('{{i}}', '', 'error');
            </script>
        {% elif i.tags == 'info' %}
            <script>
              swal('{{i}}', '', 'info');
            </script>
        {% else %}
            <script>
              swal('{{i}}', '', 'success');
            </script>
        {% endif %}
    {% endfor %}
{% endif %}
</body>
</html>
