<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/SSmartlogo.svg' %}" type="image/x-icon">
    <title>Register Administrator</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
     <link href="{% static 'assets/style.css' %}" rel="stylesheet">
</head>
<body class="login-body">
<div class="navheight"></div>
<br>
<br>

<div class="container  p-2 col-4 mt-5 p-5 login-card" >
    <h2>Create a New Account</h2>
    <form action="/register_admin/" method="POST">
        {% csrf_token %}
        <label class="mt-2">Organization name:</label>
        <input class="form-control" type="text" id="organization" name="organization" required>

        <label class="mt-2">Username:</label>
        <input class="form-control" type="text" id="username" name="username" required>

        <label class="mt-2">Email:</label>
        <input class="form-control" type="email" id="email" name="email" required>
        <span style="color:red; font-size:.8rem;"><i>This email-id cannot be modified</i></span><br>

        <label class="mt-2">Password:</label>
        <input class="form-control" type="password" id="password" name="password" required>

        <label class="mt-2">Confirm Password:</label>
        <input class="form-control" type="password" id="confirm_password" name="confirm_password" required>

<!--        <label class="mt-2">OTP:</label>-->
<!--        <input class="form-control" type="text" id="otp" name="otp" required>-->

        <label style="display:none;" class="mt-2">Role:</label>
        <select style="display:none;" class="form-control" id="role" name="role" required>
            <option>---</option>
            <option value="Admin" selected>Admin</option>
        </select>

        <input style="display:none;" type="checkbox" id="is_superuser" name="is_superuser" class="form-select" checked>
        <label style="display:none;" >Administartor</label>

        <input style="display:none;" type="checkbox" id="is_staff" name="is_staff" checked>
        <label style="display:none;" >Staff</label><br>

        <button style="width:100%;" class="btn btn-success px-5 "type="submit" >Register</button>
        <a href="{% url 'login' %}" class=" d-flex justify-content-center my-3">Back</a>

    </form>

</div>
<div class="bottom-space"></div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
{% for i in messages %}
{% if i.tags == 'warning' %}
            <script>
              swal('{{i}}', '', 'warning');
            </script>
        {% elif i.tags == 'error' %}
            <script>
              swal('{{i}}', '', 'error');
            </script>
        {% elif i.tags == 'info' %}
            <script>
              swal('{{i}}', '', 'info');
            </script>
        {% else %}
            <script>
              swal('{{i}}', '', 'success');
            </script>
        {% endif %}
    {% endfor %}
{% endif %}
</body>
</html>
